* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #333;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  background-color: #be2525;
}

.content {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  border-radius: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border-radius: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  text-align: center;
  margin-bottom: 5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
}

.profile-text-container {
  text-align: center;
  margin-top: 1rem;
}

.details {
  padding: 2rem;
  border-radius: 10px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

.email {
  font-size: 1.6rem;
  color: #888c91;
}

.email:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 6rem;
  text-align: center;
}

.connect {
  font-size: 1.4rem;
  color: #394049;
}

.social-links-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.description {
  font-size: 1.6rem;
  color: #394049;
  line-height: 2.4rem;
  font-weight: 400;
}
.subscribe-container {
  width: 587px;
  height: 84px;
  gap: 8px;
  opacity: 0px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.subscribe {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.notify {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}

.email-input {
  /* width: 100%;
  padding: 1rem; */
  border: 1px solid #2c4a8b;
  border-radius: 8px;
  font-size: 1.6rem;

  width: 403px;
  height: 52px;
  padding: 15px 20px 15px 20px;
  gap: 4px;
  opacity: 0px;
}

.notify-btn {
  width: 107px;
  height: 52px;
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 1.6rem;
  cursor: pointer;
}

.email-input:focus {
  border-color: #000000; /* Change border color when active (focused) */
}

.notify-btn:hover {
  background-color: #000000;
  color: #fff;
}

/* @media screen and (max-width: 1120px) {
  .subscribe-container {
    width: 587px;
    height: 200px;
    gap: 8px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: #c8abab;
  }
} */

@media screen and (max-width: 1120px) {
  h1 {
    font-size: 2.5rem;
  }

  .subscribe-container {
    width: 100%;
    height: auto;
    gap: 8px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .subscribe {
    flex-direction: column;
  }

  .email-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 1.6rem;

    height: 52px;
    padding: 15px 20px 15px 20px;
    gap: 4px;
    opacity: 0px;
  }

  .notify-btn {
    width: 100%;
    height: 52px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .social-links {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }

  .profile {
    width: 40%;
  }

  .details {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  .subscribe-container {
    width: 100%;
    height: auto;
    gap: 8px;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .subscribe {
    flex-direction: column;
  }

  .email-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #2c4a8b;
    border-radius: 8px;
    font-size: 1.6rem;

    height: 52px;
    padding: 15px 20px 15px 20px;
    gap: 4px;
    opacity: 0px;
  }

  .notify-btn {
    width: 100%;
    height: 52px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .subscribe {
    flex-direction: column;
  }

  .email-input {
    margin-bottom: 1rem;
  }

  .social-links {
    margin-top: 3rem;
  }
}
